absl-py==1.4.0
ale-py==0.8.1
AutoROM==0.4.2
AutoROM.accept-rom-license==0.5.5
box2d-py==2.3.5
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
contourpy==1.0.7
cycler==0.11.0
Farama-Notifications==0.0.4
fonttools==4.38.0
glfw==2.5.6
google-auth==2.16.2
google-auth-oauthlib==0.4.6
grpcio==1.51.3
gymnasium @ git+https://github.com/Farama-Foundation/Gymnasium@046e858a858c62831dc3235075e708bf2f7dd47f
gymnasium-notices==0.0.1
idna==3.4
imageio==2.25.1
importlib-metadata==4.13.0
importlib-resources==5.12.0
jax-jumpy==0.2.0
kiwisolver==1.4.4
libtorrent==2.0.7
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.0
mdurl==0.1.2
mujoco==2.3.2
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.7.0.68
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
protobuf==4.22.0
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.1.3.dev8
Pygments==2.14.0
PyOpenGL==3.1.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.2
rsa==4.9
Shimmy==0.2.1
six==1.16.0
stable-baselines3 @ git+https://github.com/DLR-RM/stable-baselines3@29201a75556635c54f9a9cd6926ac61c9f074f79
swig==4.1.1
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
torch==1.13.1
torch-tb-profiler==0.4.1
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.14
Werkzeug==2.2.3
zipp==3.15.0
